<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br>

        <button type="submit">Sign Up</button>
    </form>

    <h3>Already Registered ! Login Below </h3>
    <a href="{% url 'login' %}" style="text-decoration:None"> Login IN</a>
</body>
</html>
